$main-color: #fdf5df;
$secondary-color: rgb(0, 0, 0);
$dark: rgb(10, 10, 10);
$orange-color: rgba(235, 97, 17, 0.85);
$gray-color: rgb(97, 93, 93);
$cream-color: rgb(252, 239, 221);
$orange-section: rgb(236, 95, 70);
$login-color: #c3c3c3;
$logo-color: #f92c85;
$profile-color: #5ebec4;
$section-color: #ffff;
$text-shadow: rgb(241, 134, 134);
$button-color: #5ab963;
$secondLogin-color: #ffffff;
$border: #eeeeee;
$hover: rgba(31, 177, 31);
$primary: rgb(162, 162, 246);
$bg-color: rgb(255, 216, 0);
