$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 100px;
$footer-height: 399px;
$borderRadius: 12px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
