@import './color';
@import './mixins';
@import './fonts';
@import './sizes';

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: $header-height;
  box-shadow: 0 1px 5px $secondary-color;

  &_content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    @include breakpoint(md) {
      padding: 0 $spacing-lg;
    }
    transition: 0.3s ease all;
  }
}

nav {
  @include flex-center;

  .ul-items {
    list-style: none;
    width: 100%;
    position: fixed;
    top: $header-height;
    text-align: center;
    padding: $spacing-md 0;
    background: gba($secondary-color, 0.8);

    .li-items {
      a {
        text-decoration: none;
        color: $secondary-color;
        margin: 0 1rem;
        font-size: $spacing-md;
        padding: $spacing-md;
      }
    }
  }
}

.logo {
  margin-right: $spacing-md;
  text-transform: uppercase;
  font-family: $font-roboto;
  color: $logo-color;
}
.right {
  @include flex-center;

  .search {
    @include flex-center;
    margin-right: 5rem;

    .search-icons {
      color: $gray-color;
      font-size: 18px;
      margin-right: 0.4rem;
    }
  }

  .sch-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: $spacing-md;
  }

  .right-buttons {
    @include flex-center;
    margin-right: 1rem;

    button {
      margin: 0 1rem;
      background: none;
      border: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $secondary-color;
        font-size: $spacing-md;
      }
    }

    .profile-btn {
      border: 2px solid $profile-color;
      height: 46px;
      box-sizing: border-box;
      width: 100px;
    }
  }
}
