@import './color';
@import './buttons';

.forms {
  background-color: $cream-color;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2rem;
}
form {
  color: $secondary-color;
  font-size: 20px;
  margin: 10rem 15rem;
  text-align: center;
  display: block;
  width: 50%;

  label {
    text-transform: uppercase;
  }
  input {
    width: 100%;
    padding: 1rem;
  }

  button {
    @include button;
  }
}
