@import './color';
@import './buttons';
@import './mixins';
@import './sizes';

.main-section {
  background: url(../assets/im1.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    h1 {
      font-size: 3rem;
      color: $main-color;
      text-shadow: 3px 3px 3px $text-shadow;
    }
    p {
      font-size: 2rem;
      color: $cream-color;
      margin-top: 35px;
    }
    button {
      @include button;
    }
    button:hover {
      @include hover;
    }
  }
}
@media (min-width: 550px) {
  .main-section {
    background-position: center center;
  }
  .content {
    align-items: flex-end;
    justify-content: center;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
